.inputContainer {
    display: flex;
    flex-direction: column;
    width: max-content;
    /* background-color: teal; */
    display: flex;
    justify-content: center;
    gap: 1.5vh;
    
}

.textTitle {
  font-size: 0.8vw;
}

.inputField {
    border-radius: 40px;
    border-color: #C9C9C9; 
    border-width: 1px; 
    border-style: solid;
    outline: none; 
    padding-left: 10px;
    line-height: 24px;
    
}
