.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textTitle {
    font-weight: bold;
}

.inputField {
    border-radius: 40px;
    border-color: #C9C9C9; 
    border-width: 1px; 
    border-style: solid;
    outline: none; 
    padding-left: 10px;
    line-height: 24px;
    
}
