.containerTexts {
     background-color: tomato;  
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    width: max-content;
     gap: 1vh; 
  }
  
  .title {
    font-weight: bold;
    font-size: 3.3vw;
  }
  
  .description {
    /* background-color: teal; */
    height: max-content;
    font-size: 1vw;
  }
  