.fraseContainer {
    background-color: red;
    border: 1px solid #111;
    height: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.fraseContent {
    color: #ffffff;
    background-color: #333333;
    margin: 0;
    height: max-content;
}