.containerCard{

    display: flex;
    flex-direction: row;
    height: 10px;
    width: 10px;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
  
}
.custom_text {
/* background-color: aqua; */
padding: 1.5em 0 0 1.5em;
width: max-content;
}

.custom_description{
     /* background-color: cadetblue;  */
     font-size: 0.8em;
    padding: 0 0 0 3em;
}

.imageAboutAbcdown {
    width: 7em;
    height: 5em;
    /* background-color: aqua; */
}
.imageShare {
    width: 10em;
    height: 80%;
}


