li {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.user_img {
  border-radius: 50%; /* Aplicando borda circular */
  width: 4em;
  height: 4em;
}
.name_user {
  color: black;
  font-size: 1.5em;

  text-decoration: none;
}

.navigation_img{
height: 1.5em;
}

.navigation_text{
  color: black;
  font-size: 1.5em;
  text-decoration: none;
}

.exit_text{
  color: #F0754E;
  font-size: 1.6em;
  text-decoration: none;
}

.exit_img{
  height: 2em;
  width: 2em;
}

.hiden {
  display: none;
}