.exit {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-color: blueviolet;
  height: max-content;
}

.exit a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  background-color: #F0754E;
  font-size: 1.5em;
}

.list_item_li_nav,
.exit .user {
  display: flex;
  flex-direction: row;
  height: max-content;
  align-items: center;
  gap: 0.2em;
}

.list_item_li_nav {
  background-color: blue;
  width: max-content;
  margin: 0.1em;
}

.list_item_li_nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  background-color: aqua;
  font-size: 1.5em;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-color: palegreen;
}

.user a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
